/** Form.css */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .blue-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .grey-button {
    background-color: grey;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  